html {
  height: 100%;
}

body {
  height: 100%;

  color: black;
  background-color: white;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
}

.content, .content-dev-tools {
  height: 100%;
}
