<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <script src="/static/vendor.bundle.js"></script>
    <script src="/static/index.bundle.js"></script>
</body>
</html>